.title-text{
    font-size: 30px;
    padding-top: 50px;
    margin-bottom: 46px;
    text-align: center;
    color: #184a4ae0;
}
.container{
    height: 100vh;
    width: 70%;
    margin: auto;
    background-color: #86959517;
}
.wrapper-content{
    width: 55%;
    margin: auto;
}
.form{
    display: flex;
    flex-wrap: wrap;
}
.loto-number{
    border-radius: 10px;
    text-align: center;
    border-color: #161c1b96;
    box-shadow: 2px 1px 4px 0px #a9a9a9f5;
}
.loto-number:valid{
    /*border-color: aqua;*/
}
.loto-number:out-of-range{
    border-color: red;
}
.result-input{
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 70px 0;
    opacity:0;
    transition: 1s;
    animation: show 1s 1;
    animation-fill-mode: forwards;
}
@keyframes show{
    0%{ opacity:0; }
    100% { opacity:1; }
}
.error{
    display: block;
    width: 120px;
    color: #ff3c00;
    text-align: center;
    margin: auto;
}
.is-number{
    border-radius: 30px;
    margin: 10px;
    border: solid 2px;
    padding: 10px;
    border-color: aliceblue;
    width: 30px;
    text-align: center;
    background: linear-gradient(#ffc13eba, #d7d0d163);
}
.sub{
    display: block;
    padding: 35px;
    text-align: center;
}
.wrapper-loto-number{
    margin: auto;
    height: 70px;
}
.btn-loto-submit{
    width: 150px;
    height: 45px;
    border-radius: 22px;
    background-color: #ffc13e;
    background-image: linear-gradient(180deg,rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
    border: none;
    cursor: pointer;
}
.wrapper-result{
    display: flex;
    justify-content: space-evenly;
}
.result-title{
    font-size: 35px;
    margin-bottom: 46px;
    text-align: center;
    color: #184a4ae0;
}
.how-title{
    font-weight: bold;
    font-size: 19px;
}
.how{
    width: 60px;
    padding: 10px 0px;
}
.win-table{
    padding-bottom: 10%;
    opacity:0;
    transition: 1s;
    animation: show 1s 1;
    animation-fill-mode: forwards;
}
.result-value{
    width: 25px;
    text-align: center;
    margin-left: 35px;
    padding: 10px 0px;
}